
<div class="footer-top">
    <h2>We are launching soon</h2>
    <p>Be first in line to join the future of activity management in web3. Join our Hivelist to be the first to experience LUZORA.</p>
    <button class="button-brand">Join Hivelist</button>
</div>

<video class="footer-bg" autoplay loop muted playsinline>
    <source src="asset/videos/luzora logo animation.webm" type="video/webm">
</video>

<div class="footer-bar">
    <div class="left">
        <img src="asset/images/Logo+ wordmark white.svg" alt="Luzora logo & wordmark">
        <p>A robust task management platform designed to help Web3 enthusiasts streamline their activities.</p>
    </div>
    <div class="right">
        <a href="https://x.com/Luzora_io" target="_blank"><button class="button-icon-tertiary"><img src="asset/icons/Twitter - Negative.svg" alt="twitter"></button></a>
        <button class="button-icon-tertiary"><img src="asset/icons/Discord - Negative.svg" alt="discord"></button>
        <button class="button-icon-tertiary"><img src="asset/icons/Github - Negative.svg" alt="github"></button>
    </div>
</div>
