<div class="topbar">
    <a href="index.html" class="logo"><img src="asset/images/Logo+ wordmark.svg" alt="Luzora Logo and wordmark"></a>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html" class="nav-button">Home</a></li>
            <li><a href="hivestory.html" class="nav-button">Hive Story</a></li>
            <li><a href="#" class="nav-button">Blog</a></li>
            <li><a href="#" class="nav-button">Docs</a></li>
            <li><a href="community.html" class="nav-button">Community</a></li>
        </ul>
    </nav>
    <a href="../../Luzora-Hivelist/index.html" class="button-brand">Join Hivelist<img src="asset/icons/Arrow-Right-Black.svg" alt="Right arrow icon" width="20" height="20"></a>
    <a class="button-icon-neutral" id="menuBtn"><img src="asset/icons/Menu-4-White.svg" alt="menu button"></a>
</div>

<!-- Mobile/Tablet Dropdown Nav -->

<div class="navigation-overlay">
    <a class="button-icon-neutral" id="close-button"><img src="asset/icons/Close-Black.svg" alt="Close navigation menu"></a>
    <div class="overlay-nav-buttons">
        <a href="hivestory.html"><div class="overlay-nav-button">Hive Story</div></a>
        <a href="#"><div class="overlay-nav-button">Blog</div></a>
        <a href="#"><div class="overlay-nav-button">Docs</div></a>
        <a href="community.html"><div class="overlay-nav-button">Community</div></a>
    </div>
    <a class="button-brand" id="primary-nav-button-brand">Join Hivelist<img src="asset/icons/Arrow-Right-Black.svg" alt="Right arrow icon" width="20" height="20"></a>
</div>